## Задача 4.1
Рассмотрим данные из [табллицы 1](data/corona.csv) по числу заболевших и выздоровевших от короновируса
в разных странах. Требуется проверить гипотезу о тому, что число выздоровевших
людей в странах не зависит от числа заболевших в стране. 

**Требуется:**
1. записать задачу формально;
2. предложить статистику для решения данной задачи;
3. записать приближенно нулевое распределение данной статистики;
4. записать явно правило принятия решения на основе статистики и нулевого распределения для обеспечения уровня значимости alpha = 0.05;
5. проверить гипотезу по записанному критерию, для данных из условия. Противоречат ли они гипотезу?
6. на уровне значимости alpha = 0.05 найти зависимость мощности критерия в зависимости от истинного значения статистики.

## Реьбшение

По идее, чем больше заболевших, тем больше выздоровевших. А значит скорее всего зависимость есть. Будем использовать тест на корреляцию Кендалла.

$H_0: cor(X_1,X_2) = 0$

In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as st
import pandas as pd
import seaborn as sns
import statsmodels

In [8]:
data = pd.read_csv('data/corona.csv')

In [9]:
data.head(10)

      Страна  заболевшие  выздоровевшие
0   германия        2078             25
1      дания         617              1
2   малайзия         149             26
3    австрия         302              4
4       ирак          71             15
5      китай       80932          62901
6     италия       12462           1045
7        сша        1663             12
8   сингапур         178             96
9  австралия         128             21

In [10]:
data = data.values

In [11]:
ill = []
recovered = []
for x in data:
    ill.append(x[1])
    recovered.append(x[2])

In [12]:
st.kendalltau(ill, recovered, method="asymptotic")

KendalltauResult(correlation=0.28351110894619114, pvalue=0.044325607642096566)

Как видно $p-value < 0.05 ~ \Rightarrow ~ $гипотеза о независимости отвергантся, а значит зависимы.