### Задача 4.2
Рассмотрим некоторую задачу классификации. Пусть задано качество 4 моделей a1, a2, a3, a4. Качество полученных моделей показано в таблице.

Исследователю требуется выбрать наилучшую модель. Для выбора лучшей модели исследовать требуется попарно сравнить среднее значение качества всех моделей. Может ли исследователь утверждать что какая-то из моделей лучше другой?

Требуется:

* записать задачу формально;
* предложить статистику для решения данной задачи;
* записать нулевое распределение данной статистики;
* записать явно правило принятия решения на основе статистики и нулевого распределения для обеспечения уровня значимости alpha = 0.05;
* проверить гипотезу по записанному критерию, для данных из условия. Противоречат ли они гипотезе?

In [1]:
import numpy as np
import matplotlib.pylab as plt
import scipy.stats as st
import seaborn as sns
import pandas as pd

## Рассмотрим данные

In [5]:
data = pd.read_csv('./data/classifiers.csv', delimiter=',')

In [13]:
data

   Номер выборки  a1  a2  a3  a4
0              1  86  50  93  13
1              2  85  74  55  35
2              3  53  92  58  51
3              4  44  41  56  37
4              5   2  18  99  26
5              6   5  68  35  17